.cy-image {
  position: relative;
  display: inline-block;
}
.cy-image--round {
  overflow: hidden;
  border-radius: 50%;
}
.cy-image--round img {
  border-radius: inherit;
}
.cy-image__img, .cy-image__error, .cy-image__loading {
  display: block;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
.cy-image__error, .cy-image__loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #969799;
  background-color: #f7f8fa;
  flex-direction: column;
}
.cy-image__loading-icon {
  font-size: 32px;
  color: #dcdee0;
}
.cy-image__error-icon {
  font-size: 32px;
  color: #dcdee0;
}