@font-face {
  font-family: 'iconfont'; /* Project id 4040300 */
  src: url('iconfont.woff2?t=1683258752860') format('woff2'), url('iconfont.woff?t=1683258752860') format('woff'),
    url('iconfont.ttf?t=1683258752860') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-crown:before {
  content: '\e655';
}

.icon-trend:before {
  content: '\e601';
}

.icon-service:before {
  content: '\e60a';
}

.icon-lock:before {
  content: '\e626';
}
